html,
body {
	height: 100%;
}

footer {
	background-color: #f5f5f5;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */

	margin: 0 auto -60px;
}

.fixed-panel {
	max-height: 25em;
	overflow-y: scroll;
}

.div-envio-mensagem {
	border: 1px solid !important;
	border-color: #ddd !important;
}

.input-envio-mensagem {
	background-color: inherit;
	border: none;
	width: 100%;
	margin-bottom: 0.7em;
	border-bottom: solid !important;
  	border-bottom-width: 2px !important;
  	border-color: inherit !important;
}

.botao-enviar-mensagem {
	width: 100%;
}


@media screen and (min-width: 815px) {
	.input-envio-mensagem {
		background-color: inherit;
		border: none;
		width: 80%;
	}

	.botao-enviar-mensagem {
		width: 19%;
	}
}

@media screen and (max-width: 815px) {
	.alinhar-texto-responsivo {
		padding: 0% 15% 0% 15%;
	}
}

.input-cadastro {
	border: none;
	background-color: inherit;
	border-bottom-style: groove;
	margin-left: 1.25%;
	width: 60%;
}

.button-cadastrar {
	background-color: inherit;
	width: 18.5%;
	height: 25.5%;
	margin-left: 40%;
}

@media screen and (min-width: 1200px) {
	.input-cadastro {
		border: none;
		background-color: inherit;
		border-bottom-style: groove;
		display: inline-block;
		margin-left: 1.25%;
		width: 60%;
		font-size: 40px;
	}
	.button-cadastrar {
		background-color: inherit;
		width: 96%;
		height: 3.25em;
		margin-left: 1.25%;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
	.input-cadastro {
		border: none;
		background-color: inherit;
		border-bottom-style: groove;
		display: inline-block;
		margin-left: 1.25%;
		width: 50%;
	}
	.button-cadastrar {
		background-color: inherit;
		width: 20.5%;
		height: 25.5%;
		margin-left: 1.25%;
	}
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.display-inline {
	display: inline !important;
}

.m {
	margin: 3% 3% 3% 3%;
}

.ml-1 {
	margin-left: 3%
}

.ml-2 {
	margin-left: 6%
}

.ml-3 {
	margin-left: 9%
}

.ml-4 {
	margin-left: 12%
}

.mr-1 {
	margin-right: 3%
}

.mr-2 {
	margin-right: 6%
}

.mr-3 {
	margin-right: 9%
}

.mr-4 {
	margin-right: 12%
}

.mt-1 {
	margin-top: 3%;
}

.mt-2 {
	margin-top: 6%;
}

.mt-3 {
	margin-top: 9%;
}

.mt-4 {
	margin-top: 12%;
}