<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> 
				<a class="navbar-brand" ui-sref="home">Web Chat</a> </div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#contact" ng-click="open()">Usuarios Online</a></li>
					<li><a href="#contact">Comandos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Sobre</a></li>
					<li><a href="./">Técnologias Utilizadas</a></li>
					<li><a href="https://github.com/leonardovillela/web-chat-node-js/issues">Reportar Bug</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
</header>