<header ng-controller="headerCtrl">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> 
				<a class="navbar-brand" ui-sref="home">Web Chat</a> </div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-click="mostrarUsuariosConectados();"><a>Usuarios Online</a></li>
					<li><a href="#contact">Comandos</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about">Sobre</a></li>
					<li><a href="./">Técnologias Utilizadas</a></li>
					<li><a href="https://github.com/leonardovillela/web-chat-node-js/issues">Reportar Bug</a></li>
				</ul>
			</div>
		</div>
	</nav>

    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Usuarios Online</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="usuario in usuariosConectados">
                        <a>{{ usuario.usuario.nome }}</a>
                    </li>
                </ul>
           
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </script>
    </div>
</header>