<div class="jumbotron mt-2" ng-controller="UsuarioCadastro">
	<form name="cadastro" novalidate>
		<h1 class="display-inline">Nome:</h1>
		<input class="input-cadastro" type="text" ng-model="usuario.nome" ng-required="true" ng-enter="cadastrarUsuario()">
		<button type="button" class="btn btn-default button-cadastrar" ng-click="cadastrarUsuario()" ng-disabled="cadastro.$invalid">Cadastrar</button>
		
		<div class="mt-1">
			<div class="col-xs-6">
				<a class="btn btn-block btn-social btn-facebook" ng-click="cadastrarSocial('facebook')">
					<i class="fa fa-facebook"></i> Entrar com facebook
				</a>
			</div>


			<div class="col-xs-6">
				<a class="btn btn-block btn-social btn-google" ng-click="cadastrarSocial('google')">
					<i class="fa fa-google"></i> Entrar com o google+
				</a>
			</div>
		</div>
	</form>
</div>